body {
    text-align: center;
       margin: -20px;
}

.menu {
    top: 0px;
    z-index: 10;
    position: fixed;
    background: white;
    margin-top: 0px;
    width: 100%;
    list-style: none;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
    font-family: fantasy;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: royalblue;
    text-shadow: 2px 2px lightgrey;
}

#mfh {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(lightblue, yellowgreen);
}

img {
    border-radius: 50%;
    width: 100px;
    padding-top: 50px;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}

#about {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(yellowgreen, lightblue);
}


h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

p {
    font-size: 18px;
    color: #6A1B9A;
}

#bs {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(lightblue, yellowgreen);
}

#mr {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(yellowgreen, lightblue);
}

#contact {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(lightblue, yellowgreen);
}

h3 {
    color: blue
}
#writings a {
    text-shadow: none !important;
}

#contact {
    background: linear-gradient(yellowgreen, lightblue);
}

#contact h3 {
    display: inline;
}

